# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp


# knitr and R markdown default cache directories
*_cache/
/cache/

# Python environment
/venv/

# Quarto
/.quarto/

# MacOS
.DS_Store
*.code-workspace

# Misc
/notes/